
PORT= # 3000
SERVER_URL= # http://localhost:3000 (URL completa del servidor para Swagger)
JWT_SECRET= # Aca pueden poner lo que quieran
DB_HOST= # Host DB (IP)
DB_PORT= # Puerto DB
DB_USER= # Usuario de DB
DB_PASSWORD= # Contraseña DB
DB_NAME= # Nombre del schema (db en la que estamos trabajando)